﻿@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

<h1>This Page can only be Accessed by Admins</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email Address</th>
            <th>Email Confirmed</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.EmailConfirmed</td>
            </tr>
        }
    </tbody>
</table>
