﻿@model AuthTest.Models.AppArticle
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="card col-10 mx-auto">
            <div class="ml-3">
                <h1 class="mt-3">@Model.Title</h1>
                <h5>Written By: @Model.AuthorName</h5>
                <h5>@Model.CreationDate.ToShortDateString()</h5>
            </div>
            <p class="card-body">@Html.Raw(Model.Content)</p>

            <div class="m-3">
                <p>Last Updated: @Model.LastUpdatedDate</p>

                @if (UserManager.GetUserId(User) == Model.AuthorId || (SignInManager.IsSignedIn(User) && User.IsInRole("Admin")))
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit | </a>
                }
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
