﻿@model IEnumerable<AuthTest.Models.AppArticle>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Articles</h1>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

@foreach (var item in Model)
{
    @if (UserManager.GetUserId(User) == item.AuthorId)
    {
        <div class="card bg-light col-12 mb-2">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>

                <p class="card-text">@Html.Raw(item.Content)</p>

                <p>Author: @item.AuthorName</p>
                <p>Creation Date: @item.CreationDate.ToShortDateString()</p>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Read More</a>

                <a asp-action="Edit" asp-route-id="@item.Id">Edit </a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
    else if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <div class="card col-12 mb-2">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>

                <p class="card-text">@Html.Raw(item.Content)</p>

                <p>Author: @item.AuthorName</p>
                <p>Creation Date: @item.CreationDate.ToShortDateString()</p>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Read More</a>

                <a asp-action="Edit" asp-route-id="@item.Id">Edit </a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
    else
    {
        <div class="card col-12 mb-2">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>

                <p class="card-text">@Html.Raw(item.Content)</p>

                <p>Author: @item.AuthorName</p>
                <p>Creation Date: @item.CreationDate.ToShortDateString()</p>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>
    }
}

