﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a blog website I built to test <strong>ASP.NET Identity</strong> and <strong>ASP.NET Core MVC</strong>.</p>
    <p>To create an article just register an account and click "create new" in the blog section.</p>
    <br />
    <a class="btn btn-outline-primary" asp-controller="Articles" asp-action="Index">Blog »</a>
</div>
